:root {
    --bgColor: #110042;
    --textColor: #fff;
    --secondary: #C931FF;

    --transition: all ease 0.3s;

    --linkLineHeight: 31px;
    --h1LineHeight: 100px;
    --h2LineHeight: 61px;

    --linkSize: 25px;
    --h1Size: 96px;
    --h2Size: 48px;

    --font500: 500;
    --font700: 700;
    --fontStyletNormal: normal;

    --nav__linksGAP: 32px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk';
}

body {
    background-color: var(--bgColor);
}

.container {
    max-width: 1512px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 72px;
}

.nav__links {
    display: flex;
    flex-direction: row;
    gap: var(--nav__linksGAP);
}

.nav__links a:hover {
    cursor: pointer;
    color: var(--secondary);
    transition: var(--transition);
}

a {
    font-style: var(--fontStyletNormal);
    font-weight: var(--font500);
    font-size: var(--linkSize);
    line-height: var(--linkLineHeight);
    color: var(--textColor);
    text-decoration: none;
}

h1 {
    font-style: var(--fontStyletNormal);
    font-weight: var(--font700);
    font-size: var(--h1Size);
    line-height: var(--h1LineHeight);
    color: var(--textColor);
    text-transform: uppercase;
}

h2 {
    font-style: var(--fontStyletNormal);
    font-weight: var(--font500);
    font-size: var(--h2Size);
    line-height: var(--h2LineHeight);
    max-width: 1120px;
    color: var(--textColor);
}

.imgBg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    min-height: 700px;
    padding: 80px 72px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.imgBg--grid {
    width: 100%;
    height: auto;
    min-height: 700px;
    padding: 80px 72px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.project-id {

    width: 100%;
    height: auto;
}


.project-id:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition: var(--transition);
}

.atf {
    background-image: url(./imgs/Home.png);
}

.hiw {
    background-image: url(./imgs/HowItWorks.png);
}

.about {
    background-image: url(./imgs/About.png);
}

.proposals {
    background-image: url(./imgs/Proposals.png);
}

.projects {
    background-image: url(./imgs/Projects.png);
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 67px;
    gap: 10px;

    border-radius: 12px;

    width: fit-content;
    min-width: 315px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    /* identical to box height */

    text-align: center;
    border: 3px solid transparent;

}

.btn--outline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 67px;
    gap: 10px;

    border-radius: 12px;

    width: fit-content;
    min-width: 315px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    text-align: center;

    border: 3px solid #FFFFFF;

    color: var(--textColor);

}

.btn--primary {
    background: #C931FF;
    color: #FFFFFF;
}

.btn--secondary {
    background: var(--bgColor);
    color: #FFFFFF;
}

.btn:hover,
.btn--outline:hover {
    cursor: pointer;
    background-color: var(--textColor);
    color: var(--secondary);
    transform: translateY(-8px);
    transition: var(--transition);

}

.icon:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: var(--transition);
}

footer {
    border-top: 1px solid #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 32px 72px;
}

.text--small {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.text--md {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

    color: #FFFFFF;

}

.mt {
    margin-top: 32px;
}

.footer__sm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.footer__sm img {
    width: 40px;
    height: 100%;
}

.footer__sm img:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: var(--transition);
}